#include "../interface/CLASSNAME.h"

using namespace redpanda;

CLASSNAME::CLASSNAME() 
{
//STARTCUSTOMCONST
//ENDCUSTOMCONST
}

CLASSNAME::~CLASSNAME() {
//STARTCUSTOMDEST
//ENDCUSTOMDEST
}

void CLASSNAME::Reset() {
//STARTCUSTOMRESET
//ENDCUSTOMRESET
}

void CLASSNAME::WriteTree(TTree *t) {
  treePtr = t;
//STARTCUSTOMWRITE
//ENDCUSTOMWRITE
}

